@tailwind base;

@tailwind components;

@tailwind utilities;

body{
@apply bg-gray-200
}

.btn{
    @apply bg-bluewk text-white rounded border-b-4 border-blueli py-2 px-4
}

.vertical-text{
    writing-mode: vertical-rl;
    text-orientation: upright;
    @apply p-2
}

.img-size{
    width: 65vw;
}

@media (min-width: 1280px){
    .max-ml-vw{
        margin-left: 36vw;
    }
    .img-size{
        width: 23vw;
    }
}

@media (min-width: 1024px){
    .max-w-vw{
        max-width: 50vw;
    }
    .max-ml-vw{
        margin-left: 40vw;
    }
    .bg-hero{
        background: #4C4F56;
    }
    .img-size{
        width: 23vw;
    }
}

@media (min-width: 768px){
    .max-ml-vw{
        margin-left: 36vw;
    }
    .img-size{
        width: 23vw;
    }
}

@media (min-width: 640px){
    .max-ml-vw{
        margin-left: 36vw;
    }
    .img-size{
        width: 30vw;
    }
}
